################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

bin/
obj/
.vs/
# .gitignore ファイル自体は管理したい
#       ! は、無視の打ち消し、すなわち無視しない
!.gitignore
